.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #4facfe, #00f2fe);

  color: white;
  padding: 0 16px;
}
.navbar-left .logo {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
.main-wrapper {
  margin-top: 48px; /* 네비바 높이만큼 밀기 */
}
